<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Your profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding ion-text-center fade">

  <ion-grid>
    <ion-row>

      <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>

      <!-- Column with the page content -->
      <ion-col *ngIf="currentUser" size-xs="12" size-md="8" size-lg="6" size-xl="4">

        <div></div>

        <ion-card class="ion-padding ion-text-center">

          <!-- Read mode -->
          <div *ngIf="readMode" class="fade">

            <!-- Photo -->
            <div class="ion-padding ion-text-center">

              <!-- User Image if null -->
              <img *ngIf="!currentUser.image" class="user-image" src="https://www.fierrosylaminas.com/static/img/webNueva/acerca/usuario.png"> 
              
              <!-- If user has image -->
              <img *ngIf="currentUser.image" class="user-image" src="{{currentUser.image}}">

            </div>

            <!-- Edit mode button -->
            <ion-button (click)="goToEdit()" fill="outline">
              Edit Profile
            </ion-button>

            <div class="form-space"></div>

            <!-- Role (if user has it) -->
            <div *ngIf="currentUser.isAdmin || currentUser.isModerator" class="ion-text-center">

              <div class="title-label">
                <ion-label color="dark" class="ion-text-center">
                  <h2>Roles</h2>
                </ion-label>
              </div>
  
              <div class="form-space"></div>

              <ion-chip *ngIf="currentUser.isAdmin" color="danger">
                <ion-label>Admin</ion-label>
              </ion-chip>

              <ion-chip *ngIf="currentUser.isModerator" color="secondary">
                <ion-label>Moderator</ion-label>
              </ion-chip>
  
              <div class="form-space"></div>
              <div class="form-space"></div>

            </div>

            <!-- Nick Name -->
            <div class="title-label">
              <ion-label color="dark" class="ion-text-center">
                <h2>Username</h2>
              </ion-label>
            </div>

            <div class="form-space"></div>

            <ion-label color="dark">{{currentUser.nick}}</ion-label>

            <div class="form-space"></div>
            <div class="form-space"></div>
            
            <!-- Description -->
            <div class="title-label">
              <ion-label color="dark" class="ion-text-center">
                <h2>About Me</h2>
              </ion-label>
            </div>

            <div class="form-space"></div>

            <!-- User description if null -->
            <ion-label color="dark" *ngIf="!currentUser.description">Try to write something about you :D</ion-label>

            <!-- If user has description -->
            <ion-text color="dark" *ngIf="currentUser.description">{{currentUser.description}}</ion-text>

            <div class="form-space"></div>
            <div class="form-space"></div>

            <!-- Logout button -->
            <ion-button color="danger" (click)="logout()" fill="outline">
              Logout
            </ion-button>

            <div class="form-space"></div>

          </div>

          <!-- Edit mode -->
          <div *ngIf="!readMode" class="fade">

            <!-- Photo -->
            <div class="ion-padding ion-text-center">

              <!-- User Image if null -->
              <img *ngIf="!currentUser.image" class="user-image edit-image" src="https://www.fierrosylaminas.com/static/img/webNueva/acerca/usuario.png"> 
              
              <!-- If user has image -->
              <img *ngIf="currentUser.image" class="user-image edit-image" src="{{currentUser.image}}">

            </div>

            <!-- Discard changes -->
            <ion-button (click)="goToRead()" color="danger" fill="outline">
              Discard
            </ion-button>

            <!-- Save changes button -->
            <ion-button (click)="saveChanges()">
              Save
            </ion-button>

            <div class="form-space"></div>

            <!-- Nick Name -->
            <div class="title-label">
              <ion-label color="dark" class="ion-text-center">
                <h2>Username</h2>
              </ion-label>
            </div>

            <div class="form-space"></div>

            <!-- Nick input -->
            <ion-item class="form">
              <ion-input (ionChange)="checkUser()" [(ngModel)]="nickField"></ion-input>
            </ion-item>

            <div class="form-space"></div>
            <div class="form-space"></div>
            
            <!-- Description -->
            <div class="title-label">
              <ion-label color="dark" class="ion-text-center">
                <h2>Description</h2>
              </ion-label>
            </div>

            <div class="form-space"></div>

            <!-- Description input -->
            <ion-item class="form">
              <ion-input [(ngModel)]="descriptionField"></ion-input>
            </ion-item>

            <div class="form-space"></div>

          </div>

        </ion-card>

      </ion-col>

      <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>

    </ion-row>
  </ion-grid>

</ion-content>