.form-space {
  min-height: 20px;
}

ion-input {
  font-family: 'Ubuntu';
}

ion-label {
  font-family: 'Ubuntu';
}

ion-text {
  font-family: 'Ubuntu';
}

ion-card {
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.145);
  -moz-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.145);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.145);
}

.title-label {
  background-color: rgba(155, 168, 189, 0.141);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-image {
  min-width: 180px;
  min-height: 180px;
  max-width: 180px;
  max-height: 180px;
  background-color: rgba(155, 168, 189, 0.364);
  border-radius: 5px;
  margin-bottom: 25px;
}