<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Your Pools</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-left fade">

  <ion-grid>
    <ion-row>

      <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>

      <!-- Column with the page content -->
      <ion-col *ngIf="currentUser" size-xs="12" size-md="8" size-lg="6" size-xl="4" class="ion-text-center">

        <!-- SearchBar -->
        <div class="search-bar fade">
          <ion-searchbar (ionChange)="filterPools()" [(ngModel)]="searchInput" class="fade" animated placeholder="Search Pools...">
          </ion-searchbar>
        </div>

        <div class="form-space"></div>

        <!-- User Pools -->
        <div *ngIf="userPools" class="fade">

          <!-- Each Pool -->
          <ion-card *ngFor="let pool of userFilteredPools" class="fade">

            <ion-item button lines="none" class="ion-text-center">

              <!-- Delete Pool -->
              <ion-button (click)="showDeleteAlert(pool.name)" slot="start" fill="none">
                <ion-icon color="danger" slot="icon-only" name="close-circle"></ion-icon>
              </ion-button>

              <ion-thumbnail (click)="goToGroup(pool.name)" slot="end">
                <img src="{{pool.image}}" onerror="this.src='../../../assets/images/image-deleted-small.svg';">
              </ion-thumbnail>

              <!-- Name of the Pool -->
              <ion-label class="pool-name" (click)="goToGroup(pool.name)">
                {{pool.name}}
              </ion-label>

            </ion-item>
            
          </ion-card>

        </div>

      </ion-col>

      <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
