.load_spin {
    text-align: center;
    margin-top: 40vh;
}

.load_text {
    font-size: 30px;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.space {
    min-height: 40px;
}

.spinner {
    transform: scale(2);
}