<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PoolTabs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Login -->
  <div [hidden]="this.auth.getCurrentUser() | async">

    <h1>Login</h1>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button (click)="login()" expand="block">
      Login
    </ion-button>

    <br>

  </div>


  <!-- Close session -->
  <div *ngIf="this.auth.getCurrentUser() | async">

    <h1>Close Session</h1>

    <ion-button color="danger" (click)="closeSession()" expand="block">
      Log out
    </ion-button>

    <br>

  </div>
  

  <!-- Create/Update Pool -->
  <div *ngIf="this.auth.getCurrentUser() | async">

    <h1>Create or Update Pool</h1>
    <h6>If you enter the name of an already existing pool you can update it's description or image</h6>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" [(ngModel)]="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <ion-input type="text" [(ngModel)]="image"></ion-input>
    </ion-item>

    <ion-button (click)="createPool()" expand="block">
      Create pool
    </ion-button>

    <br>

  </div>


  <!-- Pools list -->
  <div *ngIf="this.auth.getCurrentUser() | async">

    <h1>List of existing Pools</h1>

    <!-- Pools table header--> 
    <ion-item class="ion-text-center">

      <!-- Name -->
      <ion-label>Name</ion-label>

      <!-- Number of users -->
      <ion-label>Users</ion-label>

      <div class="little-space"></div>

    </ion-item>

    <ion-list>

      <!-- Pool --> 
      <ion-item *ngFor="let pool of this.allPools" class="ion-text-center">

        <!-- Name -->
        <ion-label> {{pool.name}} </ion-label>

        <!-- Number of users -->
        <ion-label> {{pool.usersNumber}} </ion-label>

        <!-- Erase button -->
        <ion-button (click)="deletePoolAlert(pool.name)" color="danger">
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>

      </ion-item>

    </ion-list>

  </div>

</ion-content>
