<ion-header class="fade" *ngIf="currentUser && currentUser.isAdmin && !currentUser.isBanned" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Pages -->
<ion-content class="ion-padding fade" *ngIf="currentUser && currentUser.isAdmin && !currentUser.isBanned">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Pools Page -->
  <div *ngIf="this.folder == 'Pools'" class="ion-text-center">

    <!-- Upper Margin -->
    <div class="upper-margin"></div>

    <ion-grid>
      <ion-row>
  
        <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>
  
        <ion-col size-xs="12" size-md="8" size-lg="6" size-xl="4">

          <!-- Pool Name Input -->
          <ion-item class="form fade" *ngIf="!selectedPool">
            <ion-label color="dark" position="floating">Pool Name</ion-label>
            <ion-input (ionChange)="filterPools()" [(ngModel)]="poolInput"></ion-input>
          </ion-item>
          
          <div class="form-space"></div>

          <!-- Filtered Pools list -->
          <ion-list class="fade" *ngIf="!selectedPool">
            <ion-item class="fade" *ngFor="let p of filteredPools" button (click)="getPool(p.name)">
              <ion-label>{{p.name}}</ion-label>
            </ion-item>
          </ion-list>

          <!-- Unselect Pool -->
          <ion-button *ngIf="selectedPool" (click)="clearPool()" fill="outline" color="secondary">
            Unselect this Pool
          </ion-button>

          <div class="form-space"></div>

          <!-- Preview of the Pool -->
          <ion-label *ngIf="selectedPool">Preview of the Pool</ion-label>

          <div class="form-space"></div>
          <div class="form-space"></div>

          <div *ngIf="selectedPool" class="pool fade" [style.backgroundImage]="'url('+ selectedPool.image +')'">
            <ion-label class="title">{{selectedPool.name}}</ion-label>
          </div>

          <!-- Pool Description Input -->
          <ion-item class="form fade" *ngIf="selectedPool">
            <ion-label color="dark" position="floating">Pool Description</ion-label>
            <ion-textarea autoGrow="true" (ionChange)="filterPools()" [(ngModel)]="poolDescriptionInput"></ion-textarea>
          </ion-item>

          <div class="form-space"></div>

          <!-- Delete Pool -->
          <ion-button *ngIf="selectedPool" color="danger" fill="outline" (click)="deletePool()">
            Delete
          </ion-button>

          <!-- Update Pool -->
          <ion-button *ngIf="selectedPool" (click)="updatePool()">
            Update
          </ion-button>
  
        </ion-col>
  
        <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>
  
      </ion-row>
    </ion-grid>

  </div>


  <!-- Users Page -->
  <div *ngIf="this.folder == 'Users'">
    
  </div>


  <!-- Admins Page -->
  <div *ngIf="this.folder == 'Admins'">
    
  </div>


</ion-content>
