ion-list {
    background-color: transparent;
}

.leave-margin {
    padding-bottom: 60px;
}

.user-image {
    max-width: 45px;
    min-width: 45px;
    max-height: 45px;
    min-height: 45px;
    background-color: rgba(155, 168, 189, 0.364);
    border-radius: 30px;
    -webkit-box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.5);
}

.message{
    // overflow: auto; 
    // display: flex; 
    // flex-direction: column-reverse;
}

.outer-bubble-gap {
    min-height: 55px;
}

.inner-bubble-gap {
    min-height: 10px;
}

.bubble {
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    background-color: rgba(155, 168, 189, 0.364);
    border-radius: 5px 20px 20px 20px;
    -webkit-box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.5);
}

.message-user {
    font-family: 'Ubuntu';
    font-weight: bold;
}

.message-text {
    font-family: 'Ubuntu';
}

.message-date {
    font-family: 'Ubuntu';
    text-align: right;
    font-size: 15px;
}

.writting-area {
    width: 100%;
    min-height: 60px;
}

.write-message {
    min-height: 50px;
    max-width: calc(100vw - 10px);
    text-align: left;
    margin-top: 5px;
}

.writting-button {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin-left: 5px;
}