<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">

    <ion-title>Group name</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="mypools"></ion-back-button>
    </ion-buttons>

    <ion-icon slot="end" name=""></ion-icon>
    <ion-icon slot="end" name=""></ion-icon>
    <ion-icon slot="end" name=""></ion-icon>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" class="ion-text-center">

  <ion-grid>
    <ion-row>

      <ion-col size-xs="0.25" size-md="1" size-lg="2" size-xl="3"></ion-col>

      <!-- Column with the page content -->
      <ion-col size-xs="11.5" size-md="10" size-lg="8" size-xl="6">

        <!-- List of Messages -->
        <ion-list lines="none">

          <!-- Message elemments -->
          <ion-grid>
            <ion-row>

              <!-- User Image -->
              <ion-col size="45px"> 
                <img class="user-image" src="https://www.fierrosylaminas.com/static/img/webNueva/acerca/usuario.png" alt=""> 
              </ion-col>

              <!-- Bubble -->
              <ion-col>

                <div class="bubble">

                  <!-- Username -->
                  <div class="message-user">Username</div>

                  <div class="inner-bubble-gap"></div>

                  <!-- Message -->
                  <div class="message-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, vel. 
                    Placeat sequi autem dolorem eaque labore ullam facere. 
                    Eveniet omnis animi obcaecati repellat iure rerum aperiam debitis 
                    quisquam numquam totam.
                  </div>

                  <div class="inner-bubble-gap"></div>

                  <!-- Date -->
                  <div class="message-date">8/5/2021</div>
                  
                </div>

              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-list>
        
      </ion-col>

      <ion-col size-xs="0.25" size-md="1" size-lg="2" size-xl="3"></ion-col>

      <!-- Writting area -->
      <div class="writting-area">

        <ion-grid>
          <ion-row>

            <!-- Message to write -->
            <ion-col class="ion-align-self-start">
              <ion-input class="write-message" placeholder="Write something..."></ion-input> 
            </ion-col>
            
            <!-- Attach image -->
            <ion-col size="45px">

              <ion-button class="writting-button" color="primary" (click)="onClick()">
                <ion-icon slot="icon-only" name="image"></ion-icon>
              </ion-button>

            </ion-col>

            <!-- Send button -->
            <ion-col size="45px">

              <ion-button class="writting-button" color="primary" (click)="onClick()">
                <ion-icon slot="icon-only" name="send"></ion-icon>
              </ion-button>

            </ion-col>

          </ion-row>
        </ion-grid>

        
      </div>

    </ion-row>
  </ion-grid>

</ion-content>
