ion-list {
    background-color: transparent;
}

.user-message {
    max-width: 400px;
    border-radius: 5px 20px 20px 20px;
}

.user-image {
    max-width: 40px;
    min-width: 40px;
    max-height: 40px;
    min-height: 40px;
    margin-right: 20px;
}