img {
  max-width: 200px;
  max-height: 200px;
}

.top-space {
  min-height: 15vh;
}

.space {
  min-height: 5vh;
}

.form-space {
  min-height: 20px;
}

ion-input {
  font-family: 'Ubuntu';
}

ion-label {
  font-family: 'Ubuntu';
}