ion-title {
    font-family: 'Ubuntu';
    font-weight: bold;
}

.top-space {
    min-height: 15vh;
}

img {
    max-width: 200px;
    max-height: 200px;
}

.space {
    min-height: 5vh;
}

ion-input {
    font-family: 'Ubuntu';
}

ion-button {
    font-family: 'Ubuntu';
    font-weight: bold;
}